
#cockyMcgregor{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background: url(/images/Mcgregor.jpeg) no-repeat;
    background-size: 100%;
}

#cockyMcgregor.punchedMcgregor{
    background: url(/images/KnockedOut.jpeg) no-repeat;
}

#control{
    width: 200px;
    margin: 0 auto;
}

#progessBar{
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}

#progessBar div{
    height: 20px;
    background-color: red;
}

.central{
    margin: 0 auto 20px auto;
}
